.container {
  background-color: rgb(235, 212, 12);
  display: flex;
  justify-content: start;
  align-items: start;
  height: 100vh;

}

ul {
  list-style-type: none;
}

ul li {
  color: rgb(0, 0, 0);
  margin: 10px;
  border-radius: 10px;
  background-color: rgb(2, 135, 168);
  cursor: pointer;
  padding: 10px;
}
