form {
    background-color: ghostwhite;
    width: 100%;
    border-radius: 8px;
    border: 2px solid gray;
    margin: 5px;
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-between;

}

input,
label,
select {
    width: 200px;
    margin: 5px;
}