<form>
  <div class="col m-2">
    <div class="col-md-6">
      <label for="date" class="form-label">Date</label>
      <input type="date" name="date" id="date" class="form-control" [(ngModel)]="transaction.date">
    </div>
    <div class="col-md-6">
      <label for="category" class="form-label">Catégorie</label>
      <select name="category" id="category" class="form-select" [(ngModel)]="transaction.category"
        (change)="filterByCategory($event)">
        <option value="Toutes les catégories">Toutes les catégories</option>
        <option *ngFor="let cat of categoriesCollection" [value]="cat.label">{{cat.label}}</option>
      </select>
    </div>
  </div>

  <div class="col m-2">
    <div class="col-md-6">
      <label for="subCategory" class="form-label">Sous-catégorie</label>
      <select name="subCategory" id="subCategory" class="form-select" [(ngModel)]="transaction.subCategory"
        (change)="filterBySubCategory($event)">
        <option value="Toutes les sous-catégories">Toutes les sous-catégories</option>
        <option *ngFor="let subcat of subCategoriesCollection" [value]="subcat.label">{{subcat.label}}</option>
      </select>
    </div>
    <div class="col-md-6">
      <label for="typePayment" class="form-label">Opération</label>
      <select name="typePayment" id="typePayment" class="form-select" [(ngModel)]="transaction.typeOperation"
        (change)="filterByTypeOperation($event)">
        <option value="Toutes les types de paiement">Toutes les types de paiement</option>
        <option *ngFor="let operation of typeOperationCollection" [value]="operation.label">{{operation.label}}</option>
      </select>
    </div>
  </div>

  <div class="col m-2">
    <div class="col-md-6">
      <label for="type" class="form-label">Type</label>
      <select name="type" id="type" class="form-select" [(ngModel)]="transaction.type" (change)="filterByType($event)">
        <option value="Entrée">Entrée</option>
        <option value="Sortie">Sortie</option>
      </select>
    </div>
    <div class="col-md-6">
      <label for="libelle" class="form-label">Libellé</label>
      <input type="text" name="libelle" id="libelle" class="form-control" [(ngModel)]="transaction.title">
    </div>
  </div>

  <div class="col">
    <div class="col-md-12">
      <label for="amount" class="form-label">Montant</label>
      <input type="number" name="amount" id="amount" class="form-control" [(ngModel)]="transaction.amount">
    </div>
    @if(isAdd){
    <div class="col-md-12">
      <button type="button" (click)="addTransaction()" class="btn btn-primary w-100">Enregistrer</button>
    </div>
    <div class="col-md-12">
      <button type="button" (click)="updateTransaction(transaction)" class="btn btn-primary w-100">Mettre à
        jour</button>
    </div>
    }
  </div>
</form>


<!-- <form>
  <div class="col m-2">
    <div class="col-md-6">
      <label for="date" class="form-label">Date</label>
      <input type="date" name="date" id="date" class="form-control" [value]="today">
    </div>
    <div class="col-md-6">
      <label for="category" class="form-label">Catégorie</label>
      <select name="category" id="category" class="form-select" (change)="filterByCategory($event)">
        <option value="Toutes les catégories">Toutes les catégories</option>
        <option *ngFor="let cat of categoriesCollection" [value]="cat.label">{{cat.label}}</option>
      </select>
    </div>
  </div>

  <div class="col m-2">
    <div class="col-md-6">
      <label for="subCategory" class="form-label">Sous-catégorie</label>
      <select name="subCategory" id="subCategory" class="form-select" (change)="filterBySubCategory($event)">
        <option value="Toutes les sous-catégories">Toutes les sous-catégories</option>
        <option *ngFor="let subcat of subCategoriesCollection" [value]="subcat.label">{{subcat.label}}</option>
      </select>
    </div>
    <div class="col-md-6">
      <label for="typePayment" class="form-label">Opération</label>
      <select name="typePayment" id="typePayment" class="form-select" (change)="filterByTypeOperation($event)">
        <option value="Toutes les types de paiement">Toutes les types de paiement</option>
        <option *ngFor="let operation of typeOperationCollection" [value]="operation.label">{{operation.label}}</option>
      </select>
    </div>
  </div>

  <div class="col m-2">
    <div class="col-md-6">
      <label for="type" class="form-label">Type</label>
      <select name="type" id="type" class="form-select" (change)="filterByType($event)">
        <option value="Entrée">Entrée</option>
        <option value="Sortie">Sortie</option>
      </select>
    </div>
    <div class="col-md-6">
      <label for="libelle" class="form-label">Libellé</label>
      <input type="text" name="libelle" id="libelle" class="form-control" [(ngModel)]="libelletransaction">
    </div>

  </div>

  <div class="col">
    <div class="col-md-12">
      <label for="amount" class="form-label">Montant</label>
      <input type="number" name="amount" id="amount" class="form-control" [(ngModel)]="amount">
    </div>
    <div class="col-md-12">
      <button type="button" (click)="addtransaction()" class="btn btn-primary w-100">Enregistrer</button>
    </div>
  </div>
</form> -->
