<section class="container d-flex flex-column justify-item-center">
  <app-filter-bar (filterCategory)="transactionSelectedCategory($event)"
    (filterDate)="transactionSelectedDateFilterLabel($event)"
    (filtesSubCategory)="transactionSelectedSubCategory($event)"
    (filterTypeOperation)="transactionSelectedTypeOperation($event)"></app-filter-bar>
  <h1>Transaction</h1>
  <div class="amount">
    <span class="amounTotal">Total: 100€</span>
    <span class="amounTotal">Total: 100€</span>
    <span class="amounTotal">Total: 100€</span>
  </div>
  <!-- <app-add-transaction (addTransaction)="addTransaction($event)"></app-add-transaction> -->
  <app-graphic [transactions]="transactionsfilterCollection"></app-graphic>
  <!-- Button trigger modal -->
  <!-- <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Nouvelle transaction
  </button> -->

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <!-- date: Date;
          category: string;
          subCategory: string;
          title: string;
          amount: number;
          type: string;
          typeOperation: string; -->
          <app-form-transaction (filterCategory)="transactionSelectedCategory($event)"
            (filterDate)="transactionSelectedDateFilterLabel($event)"
            (filtesSubCategory)="transactionSelectedSubCategory($event)"
            (filterTypeOperation)="transactionSelectedTypeOperation($event)">
          </app-form-transaction>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
        </div>
      </div>
    </div>
  </div>
  <button type="button" (click)="openForm()" class="btn btn-primary">Nouvelle transaction</button>
  @if(formVisible){
  <app-form-transaction (filterCategory)="transactionSelectedCategory($event)"
    (filterDate)="transactionSelectedDateFilterLabel($event)"
    (filtesSubCategory)="transactionSelectedSubCategory($event)"
    (filterTypeOperation)="transactionSelectedTypeOperation($event)" (formVisible)="closeForm()">
  </app-form-transaction>
  }
  <table class="w-100">
    <tr>
      <th>Date</th>
      <th>catégorie</th>
      <th>sous catégorie</th>
      <th>libellé</th>
      <th>Montant</th>
      <th>Type</th>
    </tr>
    <tr *ngFor="let transaction of transactionsfilterCollection; trackBy: trackByTransactionId">
      <td class="border-1 text-center">{{ transaction.date | date: 'dd-MM-yyyy' }}</td>
      <td class="border-1 text-center">{{ transaction.category }}</td>
      <td class="border-1 text-center">{{ transaction.subCategory }}</td>
      <td class="border-1 text-center">{{ transaction.title }}</td>
      <td class="border-1 text-center">{{ transaction.amount }}</td>
      <td class="border-1 text-center">{{ transaction.type }}</td>
      <td class="border-1 text-center">
        <button class="btn btn-success m-1" (click)="editTransaction(transaction.id)">Modifier</button>
        <button class="btn btn-danger m-1" (click)="deleteTransaction(transaction.id)">Supprimer</button>
      </td>
    </tr>

  </table>


</section>
