.dashboard-container {
  background-color: brown;
  display: flex;
  justify-content: start;
  align-items: start;
  height: 100vh;
  width: 100%;

}

.sidebar {
  width: 300px;
  /* ou une autre largeur fixe pour la barre latérale */
}

.layout {
  flex: 1;
  /* prend tout l'espace restant */
}
